$prefix: "id-card-input";

.van-form {
  padding: 2px;
  border-radius: 4px;

  .van-cell {
    border-top: 1px solid var(--vp-c-divider);

    &:last-of-type {
      border-bottom: 1px solid var(--vp-c-divider);
    }
  }
}
