$prefix: "base-form";

.base-form-wrapper {
  .base-form-normal-wrapper {
    width: 100%;
  }
  .el-form-item {
    flex-wrap: wrap;
  }
  .el-form-item__label {
    flex: 1 0 100%;
    justify-content: flex-start;
  }
  .el-form-item__content {
    flex: 1 0 100%;
  }
}
